.header {
  margin: 0 0 50px 0;
  z-index: 200000;

  &__link {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 20px;

    &_active {
      text-decoration: none;
      color: rgb(253, 67, 67);
      font-weight: 600;
      font-size: 20px;
    }
  }
}

.header2 {
}

.header__container2 {
  border: none !important;
  box-shadow: none;
}

.header__container {
  margin: 60px 0 0 0;
}
